In [1]:
print("hello world")

hello world

In [2]:
num1 = 5.8
num2 = 7.8
print(num1+num2)

13.6

In [3]:
num1+num2

13.6

In [4]:
c="hello"
c

'hello'

In [5]:
num1>num2

False

In [6]:
if(num1>num2):
    print("num1 is greater than num2")
elif(num1<num2):
    print("num2 is greater than num1")
else:
    print("both numbers are equal")

num2 is greater than num1

In [1]:
a=int(input("enter 1st number"))
b=int(input("enter 2nd number"))
choice=int(input("enter your choice 1:add, 2:sub, 3:mul, 4:divide"))
if(choice==1):
    print("sum", a+b)
elif(choice==2):
    print("difference", a-b)
elif(choice==3):
    print("product", a*b)
elif(choice==4):
    print("division", a/b)a=int(input("enter 1st number"))
b=int(input("enter 2nd number"))
choice=int(input("enter your choice 1:add, 2:sub, 3:mul, 4:divide"))
if(choice==1):
    print("sum", a+b)
elif(choice==2):
    print("difference", a-b)
elif(choice==3):
    print("product", a*b)
elif(choice==4):
    print("division", a/b)
else:
    print("error")
else:
    print("error")

enter 1st number5
enter 2nd number4
enter your choice 1:add, 2:sub, 3:mul, 4:divide2
difference 1

In [2]:
str1 = "hello"
str2 = "world"
str1+str2

'helloworld'

In [3]:
str1 = str2
str1

'world'

In [10]:
def stringconcat(str1,str2):
    str1=str1+str2
    return str1

In [12]:
a="hello"
b="world"
c=stringconcat(a,b)
c

'helloworld'

In [15]:
a=(input("enter 1st string "))
b=(input("enter 2nd string "))
choice=int(input("enter your choice 1:concat, 2:copy, 3:reverse 1st string "))
if(choice==1):
    print("concat= ", a+b)
elif(choice==2):
    a=b
    print("copy= ", a)
elif(choice==3):
    b=a[::-1]
    print("reverse= ", b)
else:
    print("error")

enter 1st string hello
enter 2nd string world
enter your choice 1:concat, 2:copy, 3:reverse 1st string 3
reverse=  olleh

In [18]:
b="hello"[1::-1]

In [19]:
b

'eh'

In [20]:
lst=["bharat",13,45,34.6,"hello"]
for i in lst:
    print(i)

bharat
13
45
34.6
hello

In [21]:
lst.pop()

'hello'

In [22]:
lst

['bharat', 13, 45, 34.6]

In [23]:
lst.append("kevinson")

In [24]:
lst

['bharat', 13, 45, 34.6, 'kevinson']

In [25]:
lst[1:4]

[13, 45, 34.6]

In [26]:
lst2 = lst[1:4]
lst2

[13, 45, 34.6]

In [27]:
lst=lst+lst2
lst

['bharat', 13, 45, 34.6, 'kevinson', 13, 45, 34.6]

In [32]:
choice=int(input("1:insert, 2:delete"))
if(choice==1):
    a=input("enter the value")
    lst.append(a)
    print(lst)
else:
    lst.pop()
    print(lst)

1:insert, 2:delete1
enter the valueworld
['bharat', 13, 45, 34.6, 'kevinson', 13, 45, 34.6, 'world']

In [33]:
lst[::-1]

['world', 34.6, 45, 13, 'kevinson', 34.6, 45, 13, 'bharat']

In [34]:
tup = (12,45,"bharat")

In [35]:
tup

(12, 45, 'bharat')

In [39]:
dict1 = {"one":"bharat", "second":"kevin"}
dict1

{'one': 'bharat', 'second': 'kevin'}

In [41]:
for key,value in dict1.items():
    print(key,value)

one bharat
second kevin